

body {background-color: rgb(30, 30, 30);background-image: radial-gradient(rgba(52, 58, 64, 0.5) 1px, transparent 1px);background-size: 2rem 2rem;background-attachment: fixed; min-width: 280px;margin-bottom: 0 !important;}